<div class="container-fluid">
  {{#each data}}
<a href="/book/{{this._id}}">
<div class="card">
  <img class="card-img-top" src={{this.image}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">RS {{this.price}}</p>
  </div>
</div>
</a>
{{/each}}
</div>