<div class="container-fluid">
  {{#each data}}

  <div class="card">
    <a href="/book/{{this._id}}">
      <img class="card-img-top" src={{this.image}} alt="book image">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">RS {{this.price}}</p>
      </div>
    </a>
  </div>
  {{/each}}
</div>