 <div class="container-fluid" id="headerImg">
<p class="display-3">Book Basement</p>
</div>
 <table>
      <tr>
          <td><img class="collectionImg" src="collection-images/1.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/2.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/3.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/4.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/5.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/6.jpg" /></td>
           <td><img class="collectionImg" src="collection-images/7.jpg" /></td>
           <td><img class="collectionImg" src="collection-images/8.jpg" /></td>    
      </tr>
       <tr>
          <td><img class="collectionImg" src="collection-images/10.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/11.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/12.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/13.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/14.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/15.jpg" /></td>
           <td><img class="collectionImg" src="collection-images/16.jpg" /></td>
           <td><img class="collectionImg" src="collection-images/17.jpg" /></td>
      </tr>
       <tr>
          <td><img class="collectionImg" src="collection-images/19.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/20.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/21.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/22.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/23.jpg" /></td>
           <td><img class="collectionImg" src="collection-images/24.jpg" /></td>
           <td><img class="collectionImg" src="collection-images/25.jpg" /></td>
           <td><img class="collectionImg" src="collection-images/26.jpg" /></td>        
      </tr>
       <tr>
          <td><img class="collectionImg" src="collection-images/27.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/28.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/29.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/30.webp" /></td>
          <td><img class="collectionImg" src="collection-images/31.jpg" /></td>
          <td><img class="collectionImg" src="collection-images/32.jpg" /></td>
           <td><img class="collectionImg" src="collection-images/33.jpg" /></td>
           <td><img class="collectionImg" src="collection-images/34.jpg" /></td>          
      </tr>
      </table>

           
           <img id="rightSideImage" width="200px" height="400px" src="collection-images/sellbook.jpg" /> 
    <div id="leftSideImage">
<p id="pOne">WHY BUY</p>
<p id="pTwo">ANYTHING ELSE</p>
<p id="pThree">WHEN YOU COULD</p>
<p id="pFour">BE BUYING</p>
<p id="pFive">BOOKS?</p>
    </div>