/* body{
    background-color: #000000
}
.navbar{
    background-color: #CB202D;
}
#brandIcon{
    font-size: 25px
}
#navSell,#navProfile,#navLogout{
    display: none
}
 #headerImg{
     height: 30vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/collection-images/header.jpg");
    background-size: contain;
}
#headerImg p{
    color: #fff;
font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 85px;
    left: 25px;
    text-shadow: 2px 2px 2px #000000
} 
table{
    position: absolute;
    top: 231px;
    left:654px;
    transform: translateX(-50%)
}
table .collectionImg{
    height:150px;
    width:100px
}
#leftSideImage{
    position: absolute;
    left:4px;
    top:280px;
    width:245px;
    height:400px
}
p{
    line-height: 1.2;
    text-shadow: 2px 2px 2px #000000
}
 #pOne{
    font-family: 'Notable', sans-serif;
    color: #45DABA;
    font-size: 30px
}
#pTwo{
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-size:30px;
}
#pThree{
    background-color: #CB202D;
    color:#fff;
    font-size: 18px;
    font-family: sans-serif;
    width: 175px;
    margin-left: 15px;
    padding:2px
}
#pFour{
    color:#fff;
    font-family: 'Baloo', cursive;
    font-size:40px;
    margin-left:8px
}
#pFive{
    margin-top: -15px;
    color:#45DABA;
    font-family: 'Patrick Hand', cursive;
    font-size:60px
}
#rightSideImage{
    position: absolute;
    right:0%;
    top:231px;
    width:198px;
    height:400px;
    box-shadow: -2px -2px 2px #000000
} */
body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: #000000;
   
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
}
.navbar{
    background-color: #CB202D;


}
#brandIcon{
    font-size: 25px
}
#navSell,#navProfile,#navLogout{
    display: none
}
 #headerImg{
    
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/collection-images/header.jpg");
    background-size: contain;
    flex-basis: 25vh;
    display:flex;
    align-items: flex-end
   

}
#headerImg p{
    color: #fff;
font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 2px #000000;
  
} 
table{
    flex-grow: 1;
order:0;
display:flex;
justify-content: center


}
table .collectionImg{
    height:150px;
    width:100px;
}
#leftSideImage{
   
    /* width:245px; */
  
    order:-1;
    flex-basis: 20%;
    height:auto

}
p{
    line-height: 1.2;
    text-shadow: 2px 2px 2px #000000
}
 #pOne{
    font-family: 'Notable', sans-serif;
    color: #45DABA;
    font-size: 30px
}
#pTwo{
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-size:30px;
}
#pThree{
    background-color: #CB202D;
    color:#fff;
    font-size: 18px;
    font-family: sans-serif;
    width: 175px;
    margin-left: 15px;
    padding:2px
}
#pFour{
    color:#fff;
    font-family: 'Baloo', cursive;
    font-size:40px;
    margin-left:8px
}
#pFive{
    margin-top: -15px;
    color:#45DABA;
    font-family: 'Patrick Hand', cursive;
    font-size:60px
}
#rightSideImage{

    /* width:198px; */
    margin-top:1px;
    margin-left:1px;
    height:400px;
    box-shadow: 2px 2px 2px #000000;
    order:1;
    flex-basis: 15%
}
main{
flex-basis: 60vh;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around

 
}

@media(max-width: 1024px){
main{
    flex-direction:column;
        align-items:center;
        flex-wrap: nowrap
        }

        #headerImg{
            flex-basis:10vh
        }
}